@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff6347;
    --dark-color:#ff4500;
    --black:#444;
    --light-color:#666;
    --border:0.01rem solid white;
    --border-hover:0.1rem solid var(--white);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-X: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}
.header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    background: #fff;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i{
    color: var(--orange);

}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--orange);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--orange);
}

#search-btn{
    display: none;
}

/*------ navigation bar------*/
.header .header-2{
    background-color: var(--orange);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*---- media query ----------*/
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    
    .header .header-1{
        padding: 2rem;
    }
}

@media(max-width:768px){
    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

    #search-btn{
        display: inline-block;
    }


}

@media(max-width:450px){

    html{
        font-size: 50%;
    }
}

/*  bottom-navbar */
.bottom-navbar{
    text-align: center;
    background: var(--orange);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background-color: var(--dark-color);
}

@media(max-width:768px){
    .bottom-navbar{
        display: inline-block;
    }
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    right:-105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .check-box{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.login-form-container form .check-box label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--orange);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background-color: var(--dark-color);
}

.login-form-container form p{
    padding-top: 0.8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    text-decoration: underline;
    color: var(--orange);
}

.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    cursor: pointer;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: 5rem 2rem;
    color: var(--black);
    border: var(--border);
    background: #fff;
}
.featured {
    padding-top: 50px;
    margin: 0 auto;
    width: 80%;
}
.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border: var(--border-hover);
}

.featured .featured-slider .box .image{
    padding: 1rem;
    background:linear-gradient(15deg, #eee 30% , #fff 30.1%);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
    cursor: pointer;
}

.featured .featured-slider .box .icons{
    padding-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #ffff;
    z-index: 1;
    transform: translateY(-100%);
    border: var(--border);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0);
}

.featured .featured-slider .box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background: var(--orange);
    color: #fff;
}

.featured .featured-slider .box .content{
   background: #eee;
   padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}
.footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    padding: 1.5rem 0 ;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;

}

.footer .box-container .box a i{
    color: var(--orange);
    padding-right: 0.5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width: 100%;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--orange);
    margin: 0 0 0.3rem;
    border-radius: 50%;
    padding: 1.2rem;
}

.footer .share a:hover{
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span{
    color: var(--orange);
}

/*loader*/

.loader-container{
    position: fixed;
    top:0;left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container img{
    height: 10rem;
}

.loader-container.active{
    display: none;
}
.nhalanhdaotuonglai {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.firstlayout {
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.leftlayout {
    width: 40%;
}
/* img .leftlayout {
    width: 40%;
} */
.rightlayout {
    width: 60%;
    padding-top: 50px;
}
.headerright {
    color: black;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
.headerright h2 {
    color: black;
}
.right {
    display: flex;
}
.right1 {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.right1-1 {
    display: flex;
    flex-direction: column;
}
.right1-1 p {
    display: flex;
    padding-right: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.nhacungcap {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.nhaxuatban {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.price span{
    font-size: 2rem;
    color: var(--light-color);
    text-decoration: line-through;
}
.price{
    font-size: 5rem;
    color: red;
    padding-top: 1rem;
    padding-bottom: 10px;
}
.stars i{
    font-size: 1.7rem;
    color: var(--orange);
    padding-bottom: 10px;
}
.thoigiangiaohang {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    padding-bottom: 10px;
}
.thoigiangiaohang p {
    padding-right:10px;
    font-family: 'Times New Roman', Times, serif;
}
.chinhsachdoitra {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    padding-bottom: 10px;
}
.chinhsachdoitra p {
    padding-right:10px;
    font-family: 'Times New Roman', Times, serif;
}
/* Thiết kế nút số lượng */
.soluong {
    display: flex;
    font-size: 2.2rem;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.quantity-input {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Thiết kế nút tăng và giảm */
button {
    color: black;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 2.2rem;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
}

/* Tùy chỉnh nút tăng và giảm khi hover */
button:hover {
    background-color: #0056b3;
}
.right2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.right2 p {
    display: flex;
    padding-right: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.tacgia {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    padding-bottom: 10px;
}
.hinhthucbia {
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    padding-bottom: 10px;
}
.thirdlayout {
    width: 80%;
    margin: 0 auto;
}
/* Thiết kế bảng */
.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    font-size: 2.2rem;
}

/* Thiết kế dòng tiêu đề */
.info-table th {
    background-color: white;
    color: #fff;
}

/* Thiết kế các ô dữ liệu */
.info-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
.bottomlayout {
    padding-top: 30px;
}
.onelayout {
    padding-top: 20px;
    border-top: 1px solid gray;
}
.onelayout h3 {
    padding-bottom: 20px;
}
.onelayout p {
    padding-bottom: 20px;
}